html, body {
  height: 100%;
  color: #303030;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-display: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Comfortaa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-display: auto;
}

p {
  margin: 1.5em 0;
}

blockquote {
  border-left: 5px solid #454545;
  background-color: #fafafa;
  padding: 0.5em 1.5em;
}
blockquote, blockquote p {
  color: #494949;
}
blockquote ~ blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

.pageContainer {
  text-align: justify;
}

.pageWrap {
  margin: 0 auto;
  max-width: 1400px;
}
@media screen and (min-width: 320px) {
  .pageWrap {
    width: 97%;
  }
}
@media screen and (min-width: 740px) {
  .pageWrap {
    width: 90%;
  }
}
@media screen and (min-width: 980px) {
  .pageWrap {
    width: 80%;
  }
}
.pageWrap:after {
  content: "";
  display: table;
  clear: both;
}

a {
  font-family: "Comfortaa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-display: auto;
}
a:link, a:visited {
  color: #149fd1;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: #2db9eb;
  text-decoration: underline;
}

#pageHeader-about {
  border-bottom: 1px solid #eaeaea;
}

#pageHeader-about-title a {
  font-size: 1.2em;
}
#pageHeader-about-title a:link, #pageHeader-about-title a:visited {
  color: #232323;
}
#pageHeader-about-title a:first-child {
  font-size: 1.1em;
  color: #149fd1;
  text-transform: none;
}

.article-list a {
  color: #0a0a0a;
}
.article-list a:hover {
  color: #2db9eb;
  text-decoration: underline;
}

.article-content p code, .article-content li code {
  color: #149fd1;
  background-color: rgba(27, 31, 35, 0.05);
}
.article-content p code:hover, .article-content li code:hover {
  opacity: 0.5;
}

.article img {
  max-width: 100%;
}

.copy-code-button {
  float: right;
  display: block;
  padding: 3px 8px;
  font-size: 0.8em;
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
  border-radius: 0 0 10px 10px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  opacity: 0;
}
.copy-code-button:hover {
  cursor: pointer;
  opacity: 0.7;
  border-style: solid;
}
.copy-code-button:focus {
  background-color: #e2e2e2;
  outline: 0;
  border-style: solid;
}
.copy-code-button:active {
  background-color: #e2e2e2;
  opacity: 0.5;
  border-style: solid;
}

pre:hover .copy-code-button {
  opacity: 1;
}

.copy-code-button ~ pre {
  position: relative;
}

@media print {
  .copy-code-button {
    display: none;
  }
}